@import 'tailwindcss';

@theme {
  --font-display: 'Seurat Pro', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: 'Seurat Pro';
  src: url('./assets/fonts/FOT-Seurat Pro M.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Seurat Pro';
  src: url('./assets/fonts/FOT-Seurat Pro DB.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Seurat Pro';
  src: url('./assets/fonts/FOT-Seurat Pro B.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

:root {
  font-family: 'Seurat Pro', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-height: 100vh;
}
